<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.movie.mapper.account.AccountMapper">

    <!-- 插入新用户信息 -->
    <insert id="insertAccount" parameterType="com.project.movie.domain.DO.User" useGeneratedKeys="true"
            keyProperty="userId" keyColumn="userId">
        INSERT INTO Account (userName, email, password)
        VALUES (#{userName}, #{email}, #{password})
    </insert>


    <select id="findByEmail" parameterType="String" resultType="com.project.movie.domain.DO.User">
        SELECT *
        FROM Account
        WHERE email = #{email}
    </select>

    <update id="login" parameterType="com.project.movie.domain.DO.User">
        UPDATE Account
        SET lastLogin = now()
        WHERE userId = #{userId}
    </update>


</mapper>