<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.movie.mapper.account.PreferenceMapper">

    <select id="getUserPreference" parameterType="Integer" resultType="com.project.movie.domain.DO.Genre">
        SELECT g.genreId as genreId, g.genreName as genreName
        FROM Preference p,
             Genre g
        WHERE userId = #{userId}
          AND p.genreId = g.genreId
    </select>

    <insert id="batchInsert" parameterType="com.project.movie.domain.DTO.Preference">
        insert into Preference(userId, genreId)
        values
        <foreach collection="genres" item="genre" separator=",">
            (#{userId},#{genre.genreId})
        </foreach>
    </insert>

    <delete id="batchDelete" parameterType="com.project.movie.domain.DTO.Preference">
        delete from Preference
        where userId=#{userId} and genreId in
        <foreach collection="genres" item="genre" separator="," open="(" close=")">
            #{genre.genreId}
        </foreach>
    </delete>


</mapper>