<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.movie.mapper.account.SimilarityMapper">

    <select id="getSimilarUsers" parameterType="Integer" resultType="com.project.movie.domain.DTO.UserSimilarity">
        SELECT *
        FROM UserSimilarity
        WHERE userId = #{userId} and similarity > 0.6
        ORDER BY similarity DESC
        LIMIT 20
    </select>
</mapper>
