<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.movie.mapper.movie.CollectMapper">


    <insert id="collect" parameterType="com.project.movie.domain.DO.Collect" useGeneratedKeys="true"
            keyProperty="collectId" keyColumn="collectId">
        INSERT INTO Collect (userId, movieId)
        VALUES (#{userId}, #{movieId})
    </insert>

    <delete id="removeCollect" parameterType="Integer">
        DELETE
        FROM Collect
        WHERE collectId = #{collectId}
    </delete>


    <select id="getCollectionsByUser" parameterType="Integer" resultType="com.project.movie.domain.DO.Collect">
        SELECT *
        FROM Collect
        WHERE userId = #{userId}
        ORDER BY collectId DESC
    </select>

    <select id="getRecentByUser" parameterType="Integer" resultType="com.project.movie.domain.DO.Collect">
        SELECT * FROM Collect WHERE userId = #{userId} ORDER BY collectId DESC LIMIT 10
    </select>

<!--    <select id="getRecentBySimilarUsers" parameterType="java.util.List" resultType="com.project.movie.domain.DO.Collect">-->
<!--        SELECT collectId, userId, movieId-->
<!--        FROM-->
<!--            (SELECT collectId, userId, movieId,-->
<!--            ROW_NUMBER() OVER (PARTITION BY userId ORDER BY collectId DESC) as rowNum-->
<!--        FROM Collect-->
<!--        ) AS subquery-->
<!--        WHERE rowNum &lt;= 10 and userId IN #{users}-->
<!--        ORDER BY userId, collectId DESC-->
<!--    </select>-->

    <select id="getCollect" parameterType="com.project.movie.domain.DO.Collect" resultType="com.project.movie.domain.DO.Collect">
        SELECT * FROM Collect WHERE userId = #{userId} and movieId = #{movieId}
    </select>

</mapper>