<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.movie.mapper.movie.DislikeMapper">


    <insert id="dislike" parameterType="com.project.movie.domain.DO.Dislike" useGeneratedKeys="true"
            keyProperty="dislikeId">
        INSERT INTO Dislike (userId, movieId)
        VALUES (#{userId}, #{movieId})
    </insert>

    <delete id="removeDislike" parameterType="Integer">
        DELETE
        FROM Dislike
        WHERE dislikeId = #{dislikeId}
    </delete>


    <select id="getDislikesByUser" parameterType="Integer" resultType="com.project.movie.domain.DO.Dislike">
        SELECT *
        FROM Dislike
        WHERE userId = #{userId}
        ORDER BY dislikeId DESC
    </select>

    <select id="getDislike" parameterType="com.project.movie.domain.DO.Dislike" resultType="com.project.movie.domain.DO.Dislike">
        SELECT * FROM Dislike WHERE userId = #{userId} and movieId = #{movieId}
    </select>


</mapper>