<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.movie.mapper.movie.MovieMapper">

    <select id="getMovieList" resultType="com.project.movie.domain.DO.Movie">
        SELECT *
        FROM Movie
    </select>

    <select id="getMovieListByIds" resultType="com.project.movie.domain.DO.Movie">
        SELECT *
        FROM Movie
        WHERE movieId in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getSimilarMovies" parameterType="Integer" resultType="com.project.movie.domain.DO.MovieSimilarity">
        SELECT *
        FROM MovieSimilarity
        WHERE movieId = #{movieId}
    </select>

    <select id="getThisYearHotMovies" resultType="com.project.movie.domain.DO.Movie">
        SELECT *
        FROM Movie
        WHERE YEAR(releaseDate) = YEAR(CURDATE())
        ORDER BY popularity DESC
    </select>
</mapper>