<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.movie.mapper.recommend.RecommendMapper">
    <select id="getRecommendLog" resultType="String">
        SELECT *
        FROM RecommendLog
        WHERE userId = #{userId}
        ORDER BY recommendId DESC
        LIMIT 1
    </select>

    <insert id="insertRecommendLog" useGeneratedKeys="true" keyColumn="recommendId">
        INSERT INTO RecommendLog(userId, recommendations, recommendTime)
        VALUES (#{userId}, #{log}, now())
    </insert>
</mapper>